.App {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  /* justify-content: center; */
  align-items: center;
  margin: 0 0.5rem 0 0.5rem;
}

.photoGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
  /* align-items: center; */
  width: 100%;
}

.photoGroup div {
  width: var(--imageWidth);

  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  border-radius: 1rem;
}

.photoGroup img {
  /* max-width: var(--imageWidth); */
  border-radius: 1rem;
}

.photoGroup div.active {
  width: 100%;
}

/* .photoGroup div.active.zoom {
  width: 300%;
  position: sticky;
} */

/* .photo {
  padding: 3em;
  width: 400px;
} */

.sortByCamera {
  background-color: var(--medium);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.sortByCamera h3 {
  font-size: var(--subHead);
}

.sortByCamera ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sortByCamera ul li {
  padding: 0.4em;
}

.sortByCamera ul li button {
  border-radius: 999em;
  border: none;
  padding: 0.6em;
  font-weight: 600;
  background-color: var(--text);
  color: var(--bg);
  box-shadow: var(--boxShadow);
}
