.App {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  /* justify-content: center; */
  align-items: center;
  margin: 0 1rem 0 1rem;
}

.photo {
  padding: 3em;
  width: 400px;
}

.sortByCamera {
  background-color: var(--medium);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.sortByCamera h3 {
  font-size: var(--subHead);
}

.sortByCamera ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sortByCamera ul li {
  padding: 0.4em;
}

.sortByCamera ul li button {
  border-radius: 999em;
  border: none;
  padding: 0.6em;
  font-weight: 600;
  background-color: var(--text);
  color: var(--bg);
  box-shadow: 2px 2px 3px black;
}
