/* Theme variables */
:root {
  /* Base color scheme */
  --bg: #3a1004;
  --medium: #581d0b;
  --text: #db6744;

  /* Mobile font sizes  */
  --base: 1em;
  --subHead: 1.5em;
  --head: 1em;
  --title: 2em;
}

/* Tablet variables */
@media screen and (min-width: 620px) {
  :root {
    /* Font sizes  */
    --base: 1em;
    --subHead: 1.5em;
    --head: 2em;
    --title: 2.75em;
  }
}

/* Desktop variables */
@media screen and (min-width: 900px) {
  :root {
    /* Font sizes  */
    --base: 1em;
    --subHead: 1.5em;
    --head: 3em;
    --title: 3.75em;
  }
}

html {
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--base);
}

h1 {
  font-size: var(--title);
  /* margin-left: 1em; */
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
