/* Theme variables */
:root {
  /* Media breakpoints */
  --sm: 540px;
  --md: 840px;
  --lg: 1020px;

  /* Base color scheme */
  --bg: #3a1004;
  --medium: #581d0b;
  --text: #db6744;

  /* Mobile font sizes  */
  --base: 1em;
  --subHead: 1.5em;
  --head: 2em;
  --title: 4em;
}

@media screen and (max-width: 540px) {
  :root {
    /* Font sizes  */
    --base: 1em;
    --subHead: 1.5em;
    --head: 2em;
    --title: 4em;
  }
}

@media screen and (max-width: 900px) {
  :root {
    /* Desktop sizes  */
    --base: 1em;
    --subHead: 1.5em;
    --head: 2em;
    --title: 4em;
  }
}

html {
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--base);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
